In [3]:
import tensorflow as tf
import pandas as pd
import numpy as np
import tensorflow as tf

/home/dan/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
#step 1 load data
df = pd.read_csv('data.csv')
# removed the features we dont care about
df = df.drop(['index', 'price', 'sq_price'], axis=1)
# we only use the first 10 rows
df = df[:10]
df

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [5]:
# step 2 - add labels
# 1 is food buy and 0 is bad buy
df.loc[:, ("y1")] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1]
# y2 is a negation of y1, opposite
df.loc[:, ("y2")] = df["y1"] == 0  
df.loc[:, ("y2")] = df["y2"].astype(int) # turn TRUE/FALSE to int
df

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [6]:
# Step 3 - prepare data for tensorflow (tensors)
# tensors are a generic version of vectors en matrices
inputX = df.loc[:, ['area', 'bathrooms']].as_matrix()
inputY = df.loc[:, ["y1", "y2"]].as_matrix()
print("inputX:\n",inputX)
print("\ninputY:\n",inputY)

inputX:
 [[2.104e+03 3.000e+00]
 [1.600e+03 3.000e+00]
 [2.400e+03 3.000e+00]
 [1.416e+03 2.000e+00]
 [3.000e+03 4.000e+00]
 [1.985e+03 4.000e+00]
 [1.534e+03 3.000e+00]
 [1.427e+03 3.000e+00]
 [1.380e+03 3.000e+00]
 [1.494e+03 3.000e+00]]

inputY:
 [[1 0]
 [1 0]
 [1 0]
 [0 1]
 [0 1]
 [1 0]
 [0 1]
 [1 0]
 [1 0]
 [1 0]]

/home/dan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/dan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [7]:
#step 4 - write out our hypeparameters
learning_rate = 0.000001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [11]:
#step - create our computation grph/neural network
# placeholders are gateways for data into our computation graph
x = tf.placeholder(tf.float32, [None, 2])  # for feature input tensors, none means any number of examples

# create wights
# 2x2 matrix, that we'll keep updating through the trning process
W = tf.Variable(tf.zeros([2, 2]))
#
# add biases
b = tf.Variable(tf.zeros([2]))


# forward propagation
y_values = tf.add(tf.matmul(x, W), b) 

# activation function
# softmax
y = tf.nn.softmax(y_values) 


# matrix of labels
y_ = tf.placeholder(tf.float32, [None,2])

In [13]:
# cost function: mean squared error
cost = tf.reduce_sum(tf.pow(y_ - y, 2))/(2*n_samples)

# Gradient descent
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [14]:
# Initialize variables and tensorflow session
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

WARNING:tensorflow:From /home/dan/.local/lib/python3.6/site-packages/tensorflow/python/util/tf_should_use.py:118: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [20]:
for i in range(training_epochs):  
    sess.run(optimizer, feed_dict={x: inputX, y_: inputY}) # Take a gradient descent step using our inputs and labels
    
    if (i) % display_step == 0:
        cc = sess.run(cost, feed_dict={x: inputX, y_:inputY})
        print("Training step:", '%04d' % (i), "cost=", "{:.9f}".format(cc)) #, \"W=", sess.run(W), "b=", sess.run(b)

print ("Optimization Finished!")
training_cost = sess.run(cost, feed_dict={x: inputX, y_: inputY})
print ("Training cost=", training_cost, "W=", sess.run(W), "b=", sess.run(b), '\n')

Training step: 0000 cost= 0.109529078
Training step: 0050 cost= 0.109529033
Training step: 0100 cost= 0.109528959
Training step: 0150 cost= 0.109528892
Training step: 0200 cost= 0.109528817
Training step: 0250 cost= 0.109528758
Training step: 0300 cost= 0.109528683
Training step: 0350 cost= 0.109528616
Training step: 0400 cost= 0.109528542
Training step: 0450 cost= 0.109528475
Training step: 0500 cost= 0.109528415
Training step: 0550 cost= 0.109528340
Training step: 0600 cost= 0.109528281
Training step: 0650 cost= 0.109528206
Training step: 0700 cost= 0.109528139
Training step: 0750 cost= 0.109528065
Training step: 0800 cost= 0.109528005
Training step: 0850 cost= 0.109527938
Training step: 0900 cost= 0.109527864
Training step: 0950 cost= 0.109527804
Training step: 1000 cost= 0.109527722
Training step: 1050 cost= 0.109527662
Training step: 1100 cost= 0.109527588
Training step: 1150 cost= 0.109527528
Training step: 1200 cost= 0.109527446
Training step: 1250 cost= 0.109527387
Training step: 1300 cost= 0.109527312
Training step: 1350 cost= 0.109527253
Training step: 1400 cost= 0.109527186
Training step: 1450 cost= 0.109527111
Training step: 1500 cost= 0.109527044
Training step: 1550 cost= 0.109526984
Training step: 1600 cost= 0.109526910
Training step: 1650 cost= 0.109526850
Training step: 1700 cost= 0.109526768
Training step: 1750 cost= 0.109526694
Training step: 1800 cost= 0.109526634
Training step: 1850 cost= 0.109526575
Training step: 1900 cost= 0.109526508
Training step: 1950 cost= 0.109526433
Optimization Finished!
Training cost= 0.10952637 W= [[ 0.00021374 -0.00021374]
 [ 0.00025486 -0.00025486]] b= [ 5.9087604e-05 -5.9087615e-05]

In [21]:
sess.run(y, feed_dict={x: inputX })

array([[0.7111666 , 0.28883335],
       [0.6649894 , 0.3350106 ],
       [0.73644835, 0.26355165],
       [0.6471291 , 0.35287088],
       [0.7832293 , 0.21677077],
       [0.70071334, 0.2992867 ],
       [0.6586751 , 0.34132493],
       [0.64831835, 0.35168162],
       [0.64372396, 0.356276  ],
       [0.6548205 , 0.34517953]], dtype=float32)

In [25]:
0.73644835+ 0.26355165

1.0