In [1]:
import tweepy
from textblob import TextBlob
import pandas as pd

In [2]:
# Step 1 - Authenticate
consumer_key = "peiwsUcQxKlhVnNuubP4J7yVr" #'CONSUMER_KEY_HERE'
consumer_secret = "c13z4Dt3BDU1t7RNFa72jWqQeXjn2Kn6QV7LHj2gTG0XTb4XI4"#'CONSUMER_SECRET_HERE'

access_token = "49424931-GiuoFfjjz884ukXiBdz9LS4Q3fNAhRQM3nXRUg4IQ"#'ACCESS_TOKEN_HERE'
access_token_secret = "Aqq7I1nxLgnOQxDtElJTbrowIcCLzyOf1ZQfg4HXCVDD2"#'ACCESS_TOKEN_SECRET_HERE'

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [4]:
df = pd.DataFrame(columns=['tweet', 'polarity'])
df

Empty DataFrame
Columns: [tweet, polarity]
Index: []

In [5]:
public_tweets = api.search(q='artificial inteligence', count=100)
n = 0

for tweet in public_tweets:
    tweet_s = tweet.text
    sentiment = TextBlob(tweet.text).sentiment.polarity
    df.loc[n] = [tweet_s, sentiment]
    n+=1
print("")

In [6]:
df["positive"] = (df["polarity"] > 0).astype(int)
df["negative"] = (df["polarity"] < 0).astype(int)
df["neutral"] = (df["polarity"] == 0).astype(int)
df.drop('polarity', axis=1, inplace=True)

In [7]:
df.to_csv("setiment twitter.csv",sep='\t', index=False)

In [8]:
df.head()

,tweet,positive,negative,neutral
0,RT @hariadhi: Di dalam @inovator4id bukan cuma...,0,0,1
1,RT @hariadhi: Di dalam @inovator4id bukan cuma...,0,0,1
2,RT @hariadhi: Di dalam @inovator4id bukan cuma...,0,0,1
3,Next round table: Artificial Inteligence and D...,0,1,0
4,Yesterday's November event @pydataberlin was t...,1,0,0