In [3]:
import tensorflow as tf
import pandas as pd
import numpy as np
import tensorflow as tf

/home/dan/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
#step 1 load data
df = pd.read_csv('data.csv')
# removed the features we dont care about
df = df.drop(['index', 'price', 'sq_price'], axis=1)
# we only use the first 10 rows
df = df[:10]
df

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [5]:
# step 2 - add labels
# 1 is food buy and 0 is bad buy
df.loc[:, ("y1")] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1]
# y2 is a negation of y1, opposite
df.loc[:, ("y2")] = df["y1"] == 0  
df.loc[:, ("y2")] = df["y2"].astype(int) # turn TRUE/FALSE to int
df

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [6]:
# Step 3 - prepare data for tensorflow (tensors)
# tensors are a generic version of vectors en matrices
inputX = df.loc[:, ['area', 'bathrooms']].as_matrix()
inputY = df.loc[:, ["y1", "y2"]].as_matrix()
print("inputX:\n",inputX)
print("\ninputY:\n",inputY)

inputX:
 [[2.104e+03 3.000e+00]
 [1.600e+03 3.000e+00]
 [2.400e+03 3.000e+00]
 [1.416e+03 2.000e+00]
 [3.000e+03 4.000e+00]
 [1.985e+03 4.000e+00]
 [1.534e+03 3.000e+00]
 [1.427e+03 3.000e+00]
 [1.380e+03 3.000e+00]
 [1.494e+03 3.000e+00]]

inputY:
 [[1 0]
 [1 0]
 [1 0]
 [0 1]
 [0 1]
 [1 0]
 [0 1]
 [1 0]
 [1 0]
 [1 0]]

/home/dan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/dan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [7]:
#step 4 - write out our hypeparameters
learning_rate = 0.000001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [9]:
#step - create our computation grph/neural network
# placeholders are gateways for data into our computation graph
x = tf.placeholder(tf.float32, [None, 2])  # for feature input tensors, none means any number of examples

# create wights
# 2x2 matrix, that we'll keep updating through the trning process
W = tf.Variable(tf.zeros([2, 2]))
#
# add biases
b = tf.Variable(tf.zeros([2]))


# forward propagation
y_values = tf.add(tf.matmul(x, W), b) 

# activation function
# softmax
y = tf.nn.softmax(y_values) 


# matrix of labels
y_ = tf.placeholder(tf.float32, [None,2])